@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-lightbox-background: hsla(0, 0%, 0%, 0.75);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--White);
  min-height: 100vh;
  padding: 0 15rem;
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12rem;
  border-bottom: 1px solid var(--Dark-grayish-blue);
  position: relative;
}

.nav__section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  margin-right: 5rem;
}

.nav__link {
  color: var(--Dark-grayish-blue);
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.nav__link:not(:last-child) {
  margin-right: 3rem;
}

.nav__profile-pic {
  max-height: 5.5rem;
  margin-left: 4rem;
  cursor: pointer;
}

.nav__cart-icon {
  cursor: pointer;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10rem;
}

.product-info__company-name {
  text-transform: uppercase;
  color: var(--Orange);
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-info__title {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.product-info__desc {
  color: var(--Dark-grayish-blue);
  line-height: 3rem;
  margin-bottom: 2rem;
}

.product-info__price {
  vertical-align: middle;
  font-size: 3rem;
}

.product-info__sale {
  border-radius: 2px;
  padding: 0 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  margin-left: 2rem;
  color: var(--Orange);
  background-color: var(--Pale-orange);
}

.product-info__og-price {
  font-weight: 700;
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}

.product-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-cart__add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: inherit;
  font-family: inherit;
  color: var(--White);
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: var(--Orange);
  padding: 2rem 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.product-cart__add-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.product-cart__icon {
  margin-right: 2rem;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: var(--Light-grayish-blue);
  padding: 1rem 0;
  border-radius: 10px;
}

.quantity__decrease {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
}

.quantity__decrease:hover {
  background-color: var(--Dark-grayish-blue);
}

.quantity__increase {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
}

.quantity__increase:hover {
  background-color: var(--Dark-grayish-blue);
}

.btn {
  border: none;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-images__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  cursor: pointer;
}

.product-images__main__img {
  border-radius: 20px;
}

.product-images__thumbnails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 500px;
}

.product-images__thumbnails__img {
  border-radius: 10px;
  cursor: pointer;
}

.product-images__thumbnails__img:hover {
  opacity: 0.8;
}

.image {
  max-width: 70%;
}

.active {
  border: solid var(--Orange);
  border-width: 3px;
  opacity: 0.6;
}

.content {
  margin-top: 5rem;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 700px;
      grid-template-rows: 700px;
  height: 700px;
  width: 100%;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 80%;
  width: 55rem;
}

.modal__close {
  cursor: pointer;
  background: transparent;
  padding: 0rem;
  border: none;
  margin-left: auto;
  margin-bottom: 12px;
}

.modal__close:hover .modal__close-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.modal__close-icon {
  width: 2.25rem;
  height: 2.4rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.modal__slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  width: 55rem;
}

.modal__slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 55rem;
  width: 55rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.modal__main {
  border-radius: 20px;
  margin-bottom: 3rem;
  height: 100%;
  width: 100%;
}

.modal__thumbnail {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.modal__thumbnail:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.modal__thumbnails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.modal__btn-next {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border: none;
  top: 270px;
  right: -30px;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.modal__btn-prev {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border: none;
  top: 270px;
  left: -30px;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.active-thumb {
  border: solid var(--Orange);
  border-width: 3px;
  -webkit-filter: blur(1px) brightness(50%);
          filter: blur(1px) brightness(50%);
}

.cart {
  position: absolute;
  background-color: white;
  right: 0;
  top: 11.1rem;
  height: 28rem;
  width: 35rem;
  -webkit-box-shadow: 0 4rem 5rem -2rem rgba(0, 0, 0, 0.377);
          box-shadow: 0 4rem 5rem -2rem rgba(0, 0, 0, 0.377);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.cart__header {
  height: 20%;
  border-bottom: 2px solid #b1b1b1;
  font-weight: 700;
  font-size: 1.9rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__content {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  padding: 2rem;
}

.cart__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__content__item-img {
  width: 5rem;
  height: 5rem;
  border-radius: 7px;
}

.cart__content__checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: inherit;
  font-family: inherit;
  color: var(--White);
  width: 100%;
  background-color: var(--Orange);
  padding: 2rem 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cart__content__checkout:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cart-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.item-info {
  padding: 0 1rem;
  font-weight: 400;
}

.item-title {
  display: block;
  margin-bottom: 0.5rem;
}

.item-cost {
  color: black;
  font-weight: 700;
}

.trash {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */