.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12rem;
  border-bottom: 1px solid var(--Dark-grayish-blue);
  position: relative;
  &__section {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__logo {
    margin-right: 5rem;
  }
  &__links {
  }
  &__link {
    color: var(--Dark-grayish-blue);
    list-style: none;
    display: inline-block;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &__profile-pic {
    max-height: 5.5rem;
    margin-left: 4rem;
    cursor: pointer;
  }
  &__cart-icon {
    height: 3rem;
    cursor: pointer;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem;
  &__company-name {
    text-transform: uppercase;
    color: var(--Orange);
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  &__desc {
    color: var(--Dark-grayish-blue);
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  &__price {
    vertical-align: middle;
    font-size: 3rem;
  }
  &__sale {
    border-radius: 2px;
    padding: 0 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    margin-left: 2rem;
    color: var(--Orange);
    background-color: var(--Pale-orange);
  }
  &__og-price {
    font-weight: 700;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
  }
}

// <!-- Cart and Qualtity buttons -->
.product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    font-family: inherit;
    color: var(--White);
    flex-basis: 60%;
    background-color: var(--Orange);
    padding: 2rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s;
    &:active {
      transform: scale(0.9);
    }
  }
  &__icon {
    margin-right: 2rem;
  }
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 35%;
  background-color: var(--Light-grayish-blue);

  padding: 1rem 0;
  border-radius: 10px;
  &__decrease {
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    &:hover {
      background-color: var(--Dark-grayish-blue);
    }
  }
  &__increase {
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    &:hover {
      background-color: var(--Dark-grayish-blue);
    }
  }
}
.btn {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

// <!-- Product Images Container -->
.product-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    cursor: pointer;
    &__img {
      border-radius: 20px;
    }
  }
}
.product-images__thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 500px;
  &__img {
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
.image {
  max-width: 70%;
}

.active {
  border: solid var(--Orange);
  border-width: 3px;
  opacity: 0.6;
}

.cart-quantity {
  background-color: var(--Orange);
  width: 2.5rem;
  height: 1.5rem;
  font-size: 1.3rem;
  border-radius: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 15px;
  transition: all 0.25s;
}
